// fonts


// colors
$color_bright_orange: #f26002;
$color_white: #ffffff;
$color_gray: #979797;
$color_greyish_brown: #4a4a4a;
$color_white_two:#f2f2f2;



//img
$img_header: url("../images/cover.jpeg");
