.header{
    


    &_menu{
        display: flex;
        justify-content: start;
        width: 6%;
        position: sticky;
        top: 0;
    }
    &_menu_hero{
        
        width: 210%;
    }
}

section{
    background-image: url("../images/cover.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}
