<footer class="footer">
  <div class="buttonArrow">
    <a href="../index.html" title="Header" class="buttonArrow_header">
      <img src=".//images/ico-arrow.svg" alt="buttonArrow_header_icon" />
    </a>
  </div>

  <div class="container">
    <a href="http://adalab.es">
      <ul class="container_first">
        <li>Zapatillas</li>
        <li>Ropa</li>
        <li>Niño/a</li>
        <li>Destacados</li>
        <li>Tips</li>
      </ul>

      <ul>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Youtube</li>
      </ul>
    </a>
  </div>

  <p class="copy">&copy; 2023</p>
  <div class="heart">
    <p>we</p>
    <i class="fa-solid fa-heart" style="color: #fa1100"></i>
    <p>run</p>
  </div>
</footer>
