<header class="header">
  <div>
    <a href="http://adalab.es" title="Adalab Web">
      <img src=".//images/menú.png" alt="menu_burger" />
    </a>
  </div>
</header>

<section class="hero">
  <h1 class="hero_title">Hasta un 50% de descuento</h1>
  <p class="hero_title_text">Ya están aquí las ofertas de fin de temporada</p>

  <div class="botton">
    <a href="../index.html#main_body" title="Conecta Conmigo" class="botton_scroll">
      <img src=".//images/ico-scroll-down.svg" alt="Botton" class="botton_scroll_arrow"/>
    </a>
  </div>
</section>
