<section>
  <p class="subtitle" id="subtitle_2">Los sentimientos nos inspiran</p>
  <h2 class="title">Conecta Contigo</h2>
  <p class="text">
    Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
    la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la
    plena consciencia que tan bien nos hacen sentir.
  </p>

  <input type="button" value="Comprar"  class="buttonComprar"/>
</section>


<section class="section">
    <h3 class="h3">Año nuevo, movimientos nuevos</h3>
    <load src="/partials/mainList.html" title="Entrenamientos" text="Sesiones de running y entrenamientos." />
    <load src="/partials/mainList.html" title="Cualquier nivel" text="Entrenamientos para cada nivel." />
    <load src="/partials/mainList.html" title="Exclusividad" text="Productos para miembros premium." />

    <input type="button" value="Empezar ahora" class="buttonEmpezar"/>
</section>
